<section id="main">
    <div class="container">
      <div class="row">
        <div id="content" class="col-12 col-12-medium">

          <!-- Post -->
            {% assign sorted_kurse = site.kurse | sort:"num" %}

            {% for post in sorted_kurse %}
            <article class="box post">
              <header>
                <h2>{{ post.title }} </h2>{{ post.datum }}
              </header>
              <br>
                           <div class="row aln-center">

                {% for pic in post.pictures %}

                 <div class="col-4 col-6-medium col-12-small">
                 <section>
                   <a href="bilder/small/{{ pic }}.jpg" class="image featured"><img src="bilder/small/{{ pic }}.jpg" alt="" /></a>
                   <header>
                     <!--<h3></h3>-->
                   </header>
                   <!--<p>
      </p>-->
                 </section>
                 </div>

                {% endfor %}

              </div>
              
              <br>
              
              {{ post.content | markdownify }}
            </article>
            {% endfor %}

            <article class="box post">
              <header>
                <h2>Anmeldung zu den Kursen</h2>
              </header>

              <h1>
                Anmeldungen sind ab sofort möglich unter jolejokeramik@web.de Die Kurse kommen nur dann zustande, wenn es mindestens 6 Teilnehmer gibt. 
              </h1>
                <br>
              <h1>
                Gutscheine für die Kurse können im Keramikatelier oder per E-Mail erworben werden und eignen sich hervorragend als Geschenke! 
              </h1>
              <br>
              
            </article>

        </div>
      </div>
    </div>
</section>
