<section id="main">
    <div class="container">
      <div class="row">
        <div id="content" class="col-12 col-12-medium">

          <!-- Post -->
            {% assign sorted_press = site.press | sort:"num" %}

            {% for post in sorted_press %}
            <article class="box post">
              <header>
                <h2>{{ post.title }} </h2>{{ post.datum }}
              </header>
              <br>
              <!--<a href="bilder/{{ post.bild}}" class="image featured"><img src="bilder/{{ post.bild}}" alt="" /></a>-->
              {{ post.content | markdownify }}
            </article>
            {% endfor %}

        </div>
      </div>
    </div>
</section>
